<!DOCTYPE html>
<html>
<head>
    <title>Solcelle Projekt</title>
</head>
<body>
    <h1>Solcelle UI</h1>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        <div>
            <h2>Strøm</h2>
            <canvas id="graphPower" width="300" height="200"></canvas>
        </div>
        <div>
            <h2>UV</h2>
            <canvas id="graphUV" width="300" height="200"></canvas>
        </div>
        <div>
            <h2>Luftforurening</h2>
            <canvas id="graphAirQuality" width="300" height="200"></canvas>
        </div>
        <div>
            <h2>El pris</h2>
            <canvas id="graphPowerPrice" width="300" height="200"></canvas>
        </div>
        <div>
            <h2>Temperatur</h2>
            <canvas id="graphTemp" width="300" height="200"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const powerDataFromServer = JSON.parse('{{ power_data|tojson}}');

        const mockData = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Mock Data',
                data: [65, 59, 80, 81, 56, 55, 40],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };

        const powerData = {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            
            datasets: [{
            label: 'Strømpris',
            data: powerDataFromServer,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            stepped: 'before',
            pointStyle: false
            }]
        }

        const mockConfig = {
            type: 'line',
            data: mockData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        const graphs = ['graphPower', 'graphUV', 'graphAirQuality', 'graphPowerPrice', 'graphTemp'];
        const datasets = [mockData, mockData, mockData, powerData, mockData];

        graphs.forEach((graph, index) => {
            new Chart(
            document.getElementById(graph),
            {
                ...mockConfig,
                data: datasets[index]
            }
            );
        });
    </script>
</body>
</html>